name: DUMP Transfer

on:
  workflow_dispatch:

jobs:
  transfer:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Diskte Yer Açma İşlemi
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          echo "Disk temizlendi, yer açıldı."

      - name: 2. Alanı Hazırla
        uses: actions/checkout@v3

      - name: 3. Git Ayarlarını Yap
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"

      - name: 4. Kaynak Dosyayı Çek
        run: |
          git clone --depth 1 https://dumps.tadiphone.dev/dumps/samsung/a24.git gecici_klasor

      - name: 5. 100MB Üstü Dosyaları Temizle
        run: |
          cd gecici_klasor
          rm -rf .git
          find . -type f -size +90M -exec rm -f {} \;
          echo "90MB üstü dosyalar silindi. Kalan en büyük 5 dosya:"
          find . -type f -printf '%s %p\n' | sort -nr | head -5
          mv * ../
          cd ..
          rm -rf gecici_klasor

      - name: 6. GitHub'a Yükle
        run: |
          git add .
          git commit -m "Optimize transfer işlemi tamamlandı"
          git push origin main
